* {
    margin: 0;
    padding: 0;
}

/* Nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30ddff;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    max-height: 3rem;
}

h1 {
    font-size: 2rem;
}

.profile-pic {
    border: 5px solid rgb(60, 60, 60);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.2rem;
}
