* {
    margin: 0;
    padding: 0;
}

/* Main content */
.main {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.profile-pic {
    height: 10rem;
    width: 10rem;
    padding-left: 0.5rem;
}

/* Posts */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

.friend-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    min-width: 20rem;
}

.friend-actions {
    height: 1.5rem;
    width: 1.5rem;
}

.post-container {
    display: flex;
    flex-direction: column;
    border: 5px solid #3083ff;
    border-radius: 15px;
    padding: 1rem;
    width: 60vh;
    min-width: 20rem;

}
