* {
    margin: 0;
    padding: 0;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 2rem auto;
    min-width: 30rem;
}

/* Search bar */
form {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 80vh;
    gap: 1rem;
    margin-bottom: 2rem;
    min-width: 20rem;
}

input {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 1rem;
}

.search-pic {
    border-radius: 15px;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
}

/* Posts */
.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
