:root {
  --text-color: #000;
  --background-color: #fff;
  --link-color: #0066cc;
  --link-hover-color: #004499;
}

body.dark-mode {
  --text-color: #fff;
  --background-color: #333;
  --link-color: #66b3ff;
  --link-hover-color: #99ccff;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: color 0.3s, background-color 0.3s;
}

body.dark-mode .dark-mode-enable {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
  text-decoration: underline;
}
