/* PostEntry */
.post {
    border: 5px solid #3083ff;
    border-radius: 15px;
    padding: 1rem;
    width: 60vh;
    min-width: 20rem;
}

.response-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

/* CreatePost */
